/* Estilos para los formularios */
form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para las listas desplegables */
  select {
    cursor: pointer;
  }
  
  /* Estilos para las listas de doctores, pacientes y citas */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  h2 {
    margin-top: 30px;
  }
  